@font-face {
    font-family: openSans;
    src: url(../public/Assest/Fonts/Open_Sans/static/OpenSans-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: openSans;
}